# Configurações do Servidor
PORT=3000

# Conexão com o Banco de Dados 
# Substitua pelos dados do seu Cluster
# Exemplo Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/jitterbit_orders
MONGODB_URL=

# Autenticação JWT
# Defina uma chave secreta para assinar os tokens
JWT_SECRET=sua_chave_secreta_aqui